/*  */
/*  */

@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

* {
  box-sizing: border-box;

  /* aggressive resets */
  margin: 0;
  padding: 0;
  border: none;
  
}

:root {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;
  color: rgb(75, 75, 75);
}
